@media screen and (min-width: 768px){
    span#burger {
        display: none;
    }
    nav {
        display: flex;
    }
    nav > ul {
        flex-direction: row;
        gap: 10px;
    }
    main {
        width: 768px;
    }
}